body {
  font-family: 'Roboto', sans-serif;
}

.navbar.transparent.navbar-inverse .navbar-inner {
  background: rgba(0,0,0,0);
}

.navbar {
  font-family: 'Lobster', cursive;
  font-size: 40px;
}

h1 {
  margin-top: 25px;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  text-align: center;
}

.icons {
  font-size: 40px;
  text-align: center;
  color: black;
}
